*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  font-family: 'Mulish', sans-serif;;
}

body{
    width: 100%;
    background-color: #014997;
}

h1{
    text-align: center;
    background-color: white;
    height: 100px;
    font-size: 3rem;
    padding-block-start: 25px;
    
}
h2{
    color: whitesmoke;
    text-align: center;
    height: 120px;
    font-size: 2rem;
    overflow: hidden;
    padding-block-start: 25px;
}
.base{
    
    padding: 10px;
    gap: 10px;
}
.box{
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    width: 350px;
    height: 50vh;
    border-radius: 10px;
    box-shadow:  10px 10px 20px rgba(255, 255, 255, 0.25);
    background-color: azure;
}